<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Javian Anderson</h1>
        <p>I am a computer science major and I am currently in my third year.<br>
            I have a passion for networking and I aim to have certifications in said field and to become
            a Network Systems Administrator in the near future.<br>
            Currently working on a few which includes COMPTIA Network+,A+ and Linux Essentials.
    </body>
</html>